=index_divs_width_height($amount)
  height: (90 / $amount)vh
  width: (90 / $amount)vw

body
  background-color: black
  font-family: 'Raleway', sans-serif
  color: white

.titleDiv
  width: 100vw
  height: 10vh

.titleText
  margin: 0

.contenceDiv
  width: 100vw
  height: 90vh

.aboutMe
  +index_divs_width_height(4)
